

body{
    background-color: rgba(224, 251, 255, 0.644);
}
.conteiner{
    height: 100%;
    border: 5px solid rgb(198, 253, 153);
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.cabeçalho{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 15px;
}
.cabeçalho h1{
    margin-bottom: 8px;

}
figure{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
}
.ingredientes h2{
    margin-left:15px;
    font-size: 25px;
}
.lista1{
    margin-left: 30px;
    padding: 10px 12px 10px;
    font-size: 18px;
}

.preparo{
    display: flex;
    flex-direction: column;
}
.preparo h2{
    margin-left:15px;
    font-size: 25px;
}
.lista2{
    margin-left: 30px;
    padding: 10px 12px 10px;
    font-size: 18px;
}

.informacoes{
    display: flex;
    flex-direction: column;
}
.informacoes h2{
    margin-left:15px;
}
.info{
    margin-left:30px;
    font-size: 18px;
    padding-top: 10px;
}

footer{
    margin-left:30px;
    font-size: 20px;
}







